body {
    margin: 0;
    display: grid;
    background-color: #DDDDFF;
    width: 100%;
}

.container {
    height: 60px;
    padding: .8em 3em;
    background-color: #FCFCFC;
}

.logo {
    width: 200px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav li {
    float: left;
    list-style-type: none;
    padding: 5px;
}

nav li a {
    color: #707070;
    text-decoration: none;
    font-family: 'Nirmala UI';
}

nav li a:hover {
    text-decoration: underline;
}

.navbar {
    overflow: hidden;
    background-color: #FCFCFC;
    font-family: 'Nirmala UI'
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-container {
    background-color: #DDDDFF;
    text-align: center;
    height: auto;
}

p {
    margin: 20px 0 10px;
    font-size: 22px;
    font-family: 'Nirmala UI';
    color: #707070;
}

.search-icon {
    width: 22px;
    position: absolute;
    padding: 13px 0 0 18px;
}

input {
    font-family: 'Nirmala UI';
    width: 80%;
    height: 15px;
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    font-size: 1em;
    text-indent: 35px;
}

input:focus {
    outline: none;
}

.footer-container {
    height: 60px;
    background-color: #FCFCFC;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
    padding-bottom: .8em;
}

footer ul li {
    float: left;
    list-style-type: none;
    padding: 5px;
}

footer ul li a {
    color: #707070;
    text-decoration: none;
    font-family: 'Nirmala UI';
}

footer ul li a:hover {
    text-decoration: underline;
}
