html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

header {
    height: 75px;
    width: 100%;
    background-color: #F2F2FE;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.header-wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 1400px;
}

.logo {
    float: left;
    padding: 10px 20px;
    position: relative;
}

.logo p {
    font-family: 'Nirmala UI';
    color: #707070;
}

.nav-bar {
    float: left;
    padding: 16px 20px;
    position: relative;
}

.nav-bar li {
    float: left;
    list-style-type: none;
    padding: 10px;
}

.nav-bar li a {
    text-decoration: none;
    font-family: 'Nirmala UI';
    color: #707070;
}

.nav-bar li a:hover {
    text-decoration: underline;
}

.hmw-dropdown {
    float: left;
    overflow: hidden;
}

.hmw-dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid;
    border-color: #707070;
    padding: 5px 5px;
    width: 350px;
}

.hmw-dropdown-content ul {
    margin: 0;
    padding: 0;
    columns: 2;
}

.hmw-dropdown-content li a {
    float: none;
    color: #707070;
    text-decoration: none;
    display: block;
    text-align: left;
}

.hmw-dropdown:hover .hmw-dropdown-content {
    display: block;
    top: 60px;
}

.symptoms-dropdown {
    float: left;
    overflow: hidden;
}

.symptoms-dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid;
    border-color: #707070;
    padding: 5px 5px;
}

.symptoms-dropdown-content ul {
    margin: 0;
    padding: 0;
    columns: 2;
}

.symptoms-dropdown-content li a {
    float: none;
    color: #707070;
    padding: 0 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.symptoms-dropdown:hover .symptoms-dropdown-content {
    display: block;
    top: 60px;
}

.login {
    float: right;
    font-family: 'Nirmala UI';
    color: #707070;
    padding: 24px 20px;
}

.search-container {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    height: auto;
    border-bottom: 1px solid;
    border-color: lightgray;
}

.search-container p {
    margin: 20px 0 10px;
    font-size: 22px;
    font-family: 'Nirmala UI';
    color: #707070;
}

.search-icon {
    width: 31px;
    position: absolute;
    padding: 6px 0 0 10px;
}

.search-container input {
    font-family: 'Nirmala UI';
    width: 60%;
    height: 15px;
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
    font-size: 1em;
    text-indent: 35px;
}

.search-container input:focus {
    outline: none;
}

.main-body {
    margin: 0 auto;
    padding-top: 10px;
    max-width: 1400px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.left-column {
    width: 66%;
    padding: 0 20px;
}

.left-column h3 {
    font-family: 'Nirmala UI';
    color: #707070;
}

.left-column h4 {
    font-family: 'Nirmala UI';
    color: #707070;
}

.left-column h5 {
    font-family: 'Nirmala UI';
    color: #707070;
}

.left-column p {
    font-family: 'Nirmala UI';
    color: #707070; 
}

.left-column li {
    font-family: 'Nirmala UI';
    color: #707070;
}

.right-column {
    width: 32%;
    padding: 0px 20px;
}

.right-column h3 {
    font-family: 'Nirmala UI';
    color: #707070;
}

.right-column h4 {
    font-family: 'Nirmala UI';
    color: #707070;
}

.right-column h5 {
    font-family: 'Nirmala UI';
    color: #707070;
}

.right-column p {
    font-family: 'Nirmala UI';
    color: #707070; 
}

.footer {
    position: absolute;
    height: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 20px;
    background-color: #F2F2FE;
}

.footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .BU-logo img {
    width: 200px;
}

.footer .right-footer {
    padding-top: 2px;
    display: flex;
    justify-content: flex-end;
}

.social-media {
    padding-top: 7px;
    padding-right: 10px;
}

.social-media a img {
    width: 30px;
    padding-left: 5px;
}

.footer li {
    list-style-type: none;
    float: left;
    padding: 10px;
}

.footer li a {
    color: #707070;
    text-decoration: none;
    font-family: 'Nirmala UI';
}

.footer li a:hover {
    text-decoration: underline;
}