.footer {
    position: absolute;
    height: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px 30px;
    background-color: white;
    border-top: 2px solid;
    border-color: #36A8DE;
}

.footer .BU-logo img {
    padding-top: 15px;
    width: 200px;
}

.right-footer {
    padding-top: 5px;
    margin: 0;
}

.footer li {
    list-style-type: none;
    float: left;
    padding: 8px;
}

.footer li a {
    color: #434343;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer li a:hover {
    color: #F07850;
}